*, *::after, *::before {box-sizing: border-box;}

html {font-size: 17px;}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgreen;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1, h2 {text-align: center;}

main {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    width: 80%;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 50px;
}